<h1>Datos Usuario</h1>
<div>
        {{#if user}}
        <h5>Bienvenido</h5>
        <p>Id: {{user._id}}</p>
        <p>Email: {{user.email}}</p>
        <p>Nombre: {{user.first_name}}</p>
        {{!-- Agrega más campos según la estructura de tu objeto loginResponse --}}
    {{/if}}
</div>
<h1>Productos</h1>

<div class="product-container">
    {{#each response}}
        <div class="product-card">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Código: {{this.code}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Disponible: {{#if this.status}}Sí{{else}}No{{/if}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <img src="{{this.thumbnails}}" alt="{{this.title}}">
        </div>
    {{else}}
        <p class="no-products">No se encontraron productos.</p>
    {{/each}}
</div>